#slider {
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
}

#text {
   position: absolute;
   top: 50%;
   transform: translate(0, -50%);
   width: 40%;
   margin-left: 4rem;
}

input::placeholder {
   padding-bottom: 1rem;
}

#button {
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   transition: 250ms;
}

#heading {
   transition: 250ms;
}
